In [ ]:
print("Hello")

Hello

Q1. Find the value of T(2) for the rec%rrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

Ans.T(n)=3T(n-1)+12n
    T(1)=3T(1-1)+12(1)
    T(1)=3T(0)+12
    T(1)=3*5+12
    T(1)=27   ---- @1
    T(2)=3T(2-1)+12(2)
    
    putting T(1) value from @1
    T(2)=3*27+24
    T(2)=105    --ans.

In [ ]:
Q2. Given a recurrence relation, solve it using the substitution method:
a. T(n) = T(n-1) + c
b. T(n) = 2T(n/2) + n
c. T(n) = 2T(n/2) + c
d. T(n) = T(n/2) + c

In [ ]:
a. T(n)=T(n-1)+c
   T(n-1)=T(n-2) +c
   T(n)=T(n-2) +c +c
   T(n)=T(n-3) +c +c +c
   T(n)=T(n-k) +k.c
   if n-k=0 then
      n=k
   T(n)=T(n-n)+ n.c
   T(n)= 0+ n.c
   T(n)= O(n)    ---ans

In [ ]:
b. T(n)=2T(n/2)+n
   T(n/2)=2T(n/4)+n/2    ---@1
   T(n)=2[2T(n/4)+n/2]+n
   T(n)=4T(n/4) +n +n    ---@2
   
   T(n/4)=2T(n/8) +n/4
   
   putting T(n/4) in @2
   T(n)=4[2T(n/8)+n/4] +n +n
   T(n)=8T(n/8) +n+n+n
   T(n)=2^3 T(n/2^3) +3n
   T(n)=2^k T(n/2^k) +K.n
   
   assume n/2^k=1 then
          n=2^k
          k=logn
        
   T(n)=n T(1) + k.n
   T(n)= n+logn
   T(n)= O(n+logn)    ---ans

In [ ]:
c. T(n)=2T(n/2)+c
   T(n/2)=2T(n/4)+c
   T(n)=4 T(n/4) +2c +c
   T(n)=8 T(n/8) +3c+ 2c +c
   T(n)=2^3 T(n/2^3) +2^k+1 .c
   T(n)=2^k T(n/2^k) +2^k (k) .c
   
   if n/2^k=0 then
      n=2^k
      k=logn
   T(n)= n(0) + n (logn) .c
   T(n)= O(nlogn)   ---Ans

In [ ]:
d. T(n)=T(n/2)+c
   T(n)=T(n/4) +c +c
   T(n)=T(n/8) +c +c +c
   T(n)=T(n/2^k) +k.c
   
   if n/2^k=1 then
      n=2^k
      k=logn
      
   T(n)=T(1)+ logn.c
   T(n)= O(logn)

In [ ]:
3. Given a recurrence relation, solve it using the recursive tree approach:
a. T(n) = 2T(n-1) +1
b. T(n) = 2T(n/2) + n

In [ ]:
a. at level 1= T(1)=2T(n-1)+1
   at level 2= T(2)=4T(n-2)+2
   at level k= T(3)=2^kT(n-k)+k
   if n-k=1 then
      n=k
   T(n)=2^n(1) +n
   T(n)= O(2^n)

In [ ]:
b. T(n) = 2T(n/2) + n
   T(n)= O(nlogn)